h1{
    color: blueviolet;
    text-align: center;
}
/* .add-product{
    text-align: center;
} */
.card-bottem{
    background-color: red;
    color: whitesmoke;

}

card-bottem p{
    color: whitesmoke;
}